<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFZooManager_ISRPO_lab_17_18_.Properties.Settings.AnimalZooDBConnectionString"
            connectionString="Data Source=DESKTOP-LDACII2;Initial Catalog=AnimalZooDB;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>